div(class="wrapper wrapper_test")
    div(class="wrapper__header")
        h2(class="header2") Панель Адиминистратора
    div(class="wrapper__main")
        each menu in menus
            form(name="TestForm" class="adminForm")
                input(class="adminForm__testName" type="text" value=menu.name)
                textarea(class="adminForm__testText") #{menu.text}
                div(class="adminForm__testAdminButton")
                    input(type="submit" class="adminForm__button" value="Изменить")
                    button(class="adminForm__button") Удалить

        form(name="TestForm" class="adminForm")
            input(class="adminForm__testName" type="text" value="")
            textarea(class="adminForm__testText")
            input(type="submit" class="button-AddTest" value="Добавить")
