.loginForm
{
}

.info
{
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    font-size: 200%;
}

.error
{
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    font-size: 200%;
    color: darkred;
}

.submitButton
{
    height: 41px;
    width: 15vw;
}

.alignCenter
{
    margin: auto;
}

.inputForm
{
    width: 100%;
    height: 19px;
}
