each test in tests
    form(name="TestForm")
        div(class="") #{test.name}
        div(class="") #{test.text}
        input(class="" type="text")
        input(type="submit" value="Отправить")


