.button {
    height: 66px;
    font-size: 24px;
    padding: 0 16px;
    border: none;
    border-radius: 100px;
    background-color: #008295;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    width: 22vw;
    min-width: 160px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left:5px;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-style: normal;
}


.button:hover {
    background-color: #007C8D;
}

.button_disabled {
    opacity: 0.48;
    pointer-events: none;
    user-select: none;
}

.button_secondary {
    background: #3AAACF;
}
.button_secondary:hover {
    background: #3195B6;
}

.button {
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-style: normal;
}

.button_spaced {
    margin-right: 3vw;
}

.button_back {
    width: 20vw;
    position: relative;
    top: 4vh;
    left: 5vw;
}

