.profile-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border-radius: 3vh;
    border: 3px solid  #63476f;*/
    border:none;
    padding: 3vh;
    padding-bottom: 3vh;
}

.profile-wrapper__left {
	/*margin-right: 10%;*/
}

.profile-wrapper__middle {
  /*margin-right: 10%;*/
  font-size: 30px;
}
.profile-wrapper__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}