.round-button{

    font-size: 15px;
    padding: 0 16px;
    border: none;
    border-radius: 100px;
    background: #63476f;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    width:30px;
    height:30px;
    padding:0 8px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
}
    

.round-button:hover {
    background: #4B2F57;
}