
.page {
    height: 100vh;
    min-height: 330px;
    min-width: 300px;
    margin: 0;
}

.page {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}


.page__header {
    user-select: none;
    z-index: 100;
    outline: none;
    cursor: pointer;
    height: 5vh;
    font-size: 10vh;
    position: static;
    padding-top: 3vh;
    text-align: center;
}
