
.page {
    height: 100vh;
    min-height: 330px;
    min-width: 300px;
    margin: 0;
}

.page {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url("/Resources/Textures/hackers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}



.page__header {
    height: 5vh;
    font-size: 7vh;
    position: static;
    padding-top: 3vh;
    text-align: center;
}
