h1.alignCenter.messageBoxTitle #{title}

div.messageArea #{message}

input(type="button" data-name="okButton" value="Сохранить").buttonMessageOK
input(type="button" data-name="closeButton" value="Закрыть").buttonMessageOK
