include ../BaseMenuView/BaseMenuHeader.pug

div(class="wrapper wrapper_menu")
    div(class="wrapper__header")
        h2(class="header2") О нас
    div(class="wrapper__main")
        div.aboutLine #{text}

include ../BaseMenuView/BaseMenuFoot.pug
